apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: labguide
  namespace: "{{ student_username }}-labguide"
spec:
  to:
    kind: Service
    name: labguide
  port:
    targetPort: http
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
