apiVersion: v1
kind: Service
metadata:
  name: labguide
  namespace: "{{ student_username }}-labguide"
spec:
  selector:
    app: labguide
  ports:
    - name: http
      port: 8080
      targetPort: 8080
