apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: workshop-ui-data
  namespace: "{{ workshop_ui_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ workshop_ui_pvc_size }}"
