apiVersion: v1
kind: Secret
metadata:
  name: workshop-ui-secret
  namespace: "{{ workshop_ui_namespace }}"
type: Opaque
stringData:
  ADMIN_PASSWORD: "{{ workshop_ui_admin_password }}"
  SECRET_KEY: "{{ workshop_ui_secret_key }}"
