apiVersion: v1
kind: Service
metadata:
  name: workshop-ui
  namespace: "{{ workshop_ui_namespace }}"
spec:
  selector:
    app: workshop-ui
  ports:
    - name: http
      port: 8080
      targetPort: 8080
